@font-face {
    font-family: charter;
    src: url(../fonts/charter-regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold.otf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: bold;
}


html {
     /* background: red; */
     scroll-behavior: smooth;
}

:root{
    font-size: 18px;
    --gray40: #424242;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
}

body {
    color: var(--gray30);
    font-family: "roboto", sans-serif;
    background: white;
}

a {
    color: var(--gray10);
}

.header {
    color: var(--gray10);
    /* position: sticky; */
    /* inset-block-start: -45px; */
}

.header-content {
    padding-inline: 20px;
    /* position: relative;
    inset-block-start: 65px; */
}

.header-wrapper {
    color: var(--gray10);
}

header{
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--gray10);
    /* position: absolute; */
    /* inset-block-start: 0px; */
    /* inset-inline-start: -208px; */
    /* inline-size: 188px; */
}

header li{
    padding-right: 8p;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* margin-block-end: 8px; */
    /* color: var(--gray20); */
}

header a{
    /* color: var(--gray20); */
    text-decoration: none;
}

header li:hover{
    color: white;
    background: #5551FF;
}

header a:hover{
    color: white;
    }

nav details summary{
    font-weight: bold;
}

h1 h2 h3{
    font-weight: normal;
    color: black;
}

h1{
    /* font-size: 60px; */
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    /* margin-block-start: 64px; */
    margin-block-start: 20px;
    margin-block-end: 16px;
    /*font-size: 3.75em;*/
}

h2{
font-size: 2em;
font-weight: 400;
margin-block: 40px;

}

h3{
    font-size: 1.5em;
    font-weight: 400;
    margin-block: 16px;
    /* color: black; */
}

.section-content h3{
    
    display: inline;
    /* border-bottom: 4px solid var(--gray30); */
}

.fotitos img{
    width: 100%;
}

hr {
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2);
}

pre{
    border: 8px solid #5551FF;
    box-shadow: -8px 8px #87A6E3;
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
}

pre::-webkit-scrollbar{
    block-size: 10px;
    /* background-color: red; */
}

pre::-webkit-scrollbar-thumb{
    background: var(--gray20);
    border-radius: 2px;
}

body::-webkit-scrollbar{
    inline-size: 15px;
    /* background-color: red; */
}

body::-webkit-scrollbar-thumb{
    background: var(--gray20);
    border-radius: 2px;
}

p {
    color: var(--gray20);
}

blockquote {

    font-size: 24px;
    margin: 32px 0;
    margin-block: 80px;
    padding-left: 16px;
    line-height: 24px;
    border-left: 4px solid var(--gray30);
}

blockquote span{
    color: var(--gray10);
}

blockquote span::before{
    content: "-";
}

blockquote p {
    color: var(--gray30);
}

.hero{
    /* background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url(../images/pattern.png); */
    background: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url(../images/backgroung.png);
    block-size: 50px;
}

.section-content p{
    color: var(--gray40);
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    /* width: 100%; */
}
.fotitos img{
    width: 100%;

}
.section-content-2 img{
    /* display: block; */
    /* height: 100%; */
    width: 100%;
}

.section-content{
    text-align: center;
    counter-reset: titleList;
}

.section-content h3{
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList, decimal)". ";
 }

/* .section-content h3::after{
    content: "";
    width: 32px;
    height: 4px;
    background-color: var(--gray30);
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0;
} */


.main hr {
    display: none;
}

.wrapper {
    max-inline-size: 903px;
    margin: auto;
}

.main-content {
    padding-inline: 16px;
}

.slider {
    /* outline: 1px solid #26A0DA; */
    overflow: hidden;
}

.slider-conteiner{
    /* border: 1px solid red; */
    /*block-size: 100px;*/
display: block;
overflow: auto;
overflow-x: hidden;
scroll-behavior: smooth;
white-space: nowrap;
font-size: 0;
}

.video{
    margin: 0;
    /* border: 1px solid blue; */
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: #999999;
    border-radius: 50%;
}

.slider-bullet:hover {
    background: var(--gray40);
}

.form input {
    /* inline-size: 100%; */
    border: 1px solid var(--gray30);
    background: white;
    box-sizing: border-box;
    border-radius: 90px;
    padding-block: 12px;
    padding-inline: 16px;
    color: white;
    font-size: 16px;
    margin-block-end: 24px;
    margin-inline-start: 24px;
}

form input[type="submit"]{
    margin-inline-start: 0;
    background: var(--gray30);
    border: none;
}

.form input::-webkit-input-placeholder {
color: var(--gray20);
}


@media screen and (min-width: 1366px) {
    .hero {
        block-size: 350px;
    }
    .header {
        position: sticky;
        inset-block-start: -45px;
    }
    
    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }
    
    header{
        /* font-size: 14px; */
        /* color: var(--gray10); */
        position: absolute;
        inset-block-start: 0px;
        inset-inline-start: 910px;
        /* font-weight: 500; */
        inline-size: 188px;
    }
    h1 {
        /* font-weight: 700;
        font-size: 60px; */
        margin-block-start: 64px;
    }
}

.footer{
    background: var(--gray30);
  }
  
  .footer-content{
    padding: 48px 0;
  }
  
  .footer-copyright, .social-media{
    color: white;
    margin: 0;
    text-align: center;
  }
  
  .footer-copyright{
    font-size: 2rem;
    line-height: 2.34rem;
    margin-block-end: 1rem;
  }
  
  .social-media a{
    margin-inline-end: 1rem;
  }

  .iconos {
      inline-size: 30px;
      block-size: 30px;
  }